#ble-server-api > div {
  font-size: 1.2rem
}

.device {
  line-height: 2.5rem;
}

button.connect {
  font-size: 1.2rem
}

.toolbar {
  position: fixed;
  right: 1rem;
}

.toolbar > button {
  font-size: 1.5rem;
}
